@model CoWorking.Data.Entities.Place

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Edificio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <partial name="_Place" />

            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary">Guardar                   
                </button>
                <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
            </div>
        </form>
    </div>
    
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
